* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --boolz-head: #009688;
  --boolz-mic: #6b7376;
  --boolz-notifications: #8edafc;
  --boolz-icons: #b1b1b1;
  --boolz-sent: #d5f9ba;
  --boolz-bg: #d8dbd6;
  --boolz-top: #eaeaea;
  --boolz-lighter: #ffffff;
  --boolz-bg-mic: #F3EEEA;
  --boolz-form: #fafafa;
  --boolz-active: #E9EBEB;

}

img{
    max-width: 100%;
}

.top_icon img{
    width: 55px;
}

.list_icon img{
    width: 65px;
}

.controls{
    color: var(--boolz-icons);
}

.account{
    background-color: var(--boolz-top);
}

.controls i{
    padding: 0 0.5rem;
}

.notifications{
    background-color: var(--boolz-notifications);
}

.bell{
    color: var(--boolz-notifications);
    background-color: var(--boolz-lighter);
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
}
.bell i{
    font-size: 20px;
}

.notify_text a{
    color: var(--boolz-mic);
    font-size: 15px;
}

.input-group{
    background-color: var(--boolz-form);
}

.input-group-text{
    color: var(--boolz-icons);
}

.wrapper .top{
    height: 150px;
    background-color: var(--boolz-head);
}
.wrapper .bottom{
    height: calc(100vh - 150px);
    background-color: var(--boolz-bg);
}
 
.time_icon{
    font-size: 10px;
}

.time_msg,
.fa-chevron-down,
.text_icon p {
    font-size: 13px;
}

.time_icon,
.time_msg,
.fa-chevron-down,
.text_icon p {
    color: var(--boolz-icons);
}

.messages_list{
    overflow: auto;
    height: calc(100vh - 250px)
}

.messages_list li:hover{
    cursor: pointer;
    background-color: var(--boolz-top);
}

.message_bar{
    background-color: var(--boolz-bg-mic);
}
.message_bar i{
    font-size: 25px;
    color: var(--boolz-mic);
}

.message_bar .form-control{
    width: 75%;
}

.text_message{
    background-image: url("../img/mine.jpg");
    overflow: auto;
    height: calc(100vh - 188px)
}

.sent{
    background-color: var(--boolz-sent);
    align-self: end;
}

.received{
    background-color: var(--boolz-lighter);
}

.message {
    width: 300px;
    border-radius: 0.4rem;
    padding: 0.2rem 1rem;
    margin: 0.5rem 4rem;
    position: relative;
}

.active{
    background-color: var(--boolz-active);
}

.fa-chevron-down{
    visibility: hidden;
}

.message:hover .fa-chevron-down{
    visibility: visible;
}

.dropdown_menu{
    position: absolute;
    top: 20px;
    right: 0;
    background-color: var(--boolz-lighter);
}

.dropdown_menu a{
    text-decoration: none;
    font-size: 10px;
    color: black;
    margin: 1rem;
}

